@{
    ViewData["Title"] = "Home Page";
    String lang = "EN";
    var Contents = ViewBag.Contents;
}

<div class="banner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-6">
                <div class="bannner-content">
                    <h1>@Contents["txt/Home_Banner_Header"].Values[lang]</h1>
                    <p>@Contents["txt/Home_Banner_Text"].Values[lang]</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="our-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="count">01</div>
                    <h6>@Contents["txt/Home_Hilight_1_Head"].Values[lang]</h6>
                    <p>@Contents["txt/Home_Hilight_1_Body"].Values[lang]</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="count">02</div>
                    <h6>@Contents["txt/Home_Hilight_2_Head"].Values[lang]</h6>
                    <p>@Contents["txt/Home_Hilight_2_Body"].Values[lang]</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="count">03</div>
                    <h6>@Contents["txt/Home_Hilight_3_Head"].Values[lang]</h6>
                    <p>@Contents["txt/Home_Hilight_3_Body"].Values[lang]</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-spacing our-product">
    <div class="container">
        <div class="text-left">
            <h3 class="heading">@Contents["txt/Home_BestSeller_Text"].Values[lang]</h3>
            <p class="sub-heading">@Contents["txt/Home_BestSeller_Desc"].Values[lang]</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <img src="images/product/pro-img1.png" alt="">
                        </div>
                        <h6 class="name">Vaxin Protein <span>(15% off)</span></h6>
                        <div class="rating">
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                        </div>
                    </div>
                    <div class="product-price">
                        <span class="price">$19.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <img src="images/product/pro-img2.png" alt="">
                        </div>
                        <h6 class="name">keto meal fill</h6>
                        <div class="rating">
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                        </div>
                    </div>
                    <div class="product-price">
                        <span class="price">$15.9</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <img src="images/product/pro-img3.png" alt="">
                        </div>
                        <h6 class="name">Vaxin Protein <span>(15% off)</span></h6>
                        <div class="rating">
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                        </div>
                    </div>
                    <div class="product-price">
                        <span class="price">$19.99</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-spacing our-product" style="padding-top: 0; padding-bottom: 70px;">
    <div class="container">
        <div class="text-left">
            <h3 class="heading">@Contents["txt/Home_NewArrival_Text"].Values[lang]</h3>
            <p class="sub-heading">@Contents["txt/Home_NewArrival_Desc"].Values[lang]</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <img src="images/product/pro-img1.png" alt="">
                        </div>
                        <h6 class="name">Vaxin Protein</h6>
                        <div class="rating">
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                        </div>
                    </div>
                    <div class="product-price">
                        <span class="price">$19.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <img src="images/product/pro-img2.png" alt="">
                        </div>
                        <h6 class="name">keto meal fill</h6>
                        <div class="rating">
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                        </div>
                    </div>
                    <div class="product-price">
                        <span class="price">$15.9</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <img src="images/product/pro-img3.png" alt="">
                        </div>
                        <h6 class="name">Vaxin Protein <span>(15% off)</span></h6>
                        <div class="rating">
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                        </div>
                    </div>
                    <div class="product-price">
                        <span class="price">$19.99</span>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

