@using Its.Onix.Erp.Models;
@{
    ViewData["Title"] = "Home Page";
    String lang = "EN";
    var Contents = ViewBag.Contents;
}

<div class="banner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-6">
                <div class="bannner-content">
                    <h1>@Contents["txt/Home_Banner_Header"].Values[lang]</h1>
                    <p>@Contents["txt/Home_Banner_Text"].Values[lang]</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="our-service" class="our-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service card-lift--hover">
                    <div class="count">01</div>
                    <h6>@Contents["txt/Home_Hilight_1_Head"].Values[lang]</h6>
                    <p>@Contents["txt/Home_Hilight_1_Body"].Values[lang]</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service card-lift--hover">
                    <div class="count">02</div>
                    <h6>@Contents["txt/Home_Hilight_2_Head"].Values[lang]</h6>
                    <p>@Contents["txt/Home_Hilight_2_Body"].Values[lang]</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service card-lift--hover">
                    <div class="count">03</div>
                    <h6>@Contents["txt/Home_Hilight_3_Head"].Values[lang]</h6>
                    <p>@Contents["txt/Home_Hilight_3_Body"].Values[lang]</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-spacing our-product">
    <div class="container">
        <div class="text-center">
            <h3 class="heading">@Contents["txt/Home_BestSeller_Text"].Values[lang]</h3>
            <p class="sub-heading">@Contents["txt/Home_BestSeller_Desc"].Values[lang]</p>
        </div>
        <div class="row">
            @foreach (MProduct product in @ViewBag.BestSellerList) {
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <a class="view-modal" href="#" data-target="#quick_view_@product.Code">
                                <img src="@product.Image1Url" alt="">
                            </a>
                        </div>
                        <h6 class="name">@product.Descriptions["EN"].Name</h6>
                        <div class="rating">
                            @for(int i=0; i < product.Rating; i++) {
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                            }
                            @for(int i=0; i < 5 - product.Rating; i++) {
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            }
                        </div>
                    </div>
                    @if (@product.Price > 0)
                    {
                    <div class="product-price">
                        <span class="price">$@product.Price</span>
                    </div>
                    }
                    else
                    {
                        <br/>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>
<div class="section-spacing our-product" style="padding-top: 0; padding-bottom: 70px;">
    <div class="container">
        <div class="text-center">
            <h3 class="heading">@Contents["txt/Home_NewArrival_Text"].Values[lang]</h3>
            <p class="sub-heading">@Contents["txt/Home_NewArrival_Desc"].Values[lang]</p>
        </div>
        <div class="row">
            @foreach (MProduct product in @ViewBag.NewArrivalList) {
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-info">
                        <div class="product-img">
                            <a class="view-modal" href="#" data-target="#quick_view_@product.Code">
                                <img src="@product.Image1Url" alt="">
                            </a>
                        </div>
                        <h6 class="name">@product.Descriptions["EN"].Name</h6>
                        <div class="rating">
                            @for(int i=0; i < product.Rating; i++) {
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                            }
                            @for(int i=0; i < 5 - product.Rating; i++) {
                            <a href="#">
                                <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                            </a>
                            }
                        </div>
                    </div>
                    @if (@product.Price > 0)
                    {
                    <div class="product-price">
                        <span class="price">$@product.Price</span>
                    </div>
                    }
                    else
                    {
                        <br/>
                    }
                    
                </div>
            </div>
            }
        </div>
    </div>  
</div>

