@using Magnum.Web.Utils;
@using Its.Onix.Erp.Models;
<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magnum Pharmacy</title>

    <meta name="description" content="Body Building Product, Improve Life and Transform Your Body"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.css" />
</head>
<body>

@{ 
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<header class="site-header @controllerName">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Magnum | Logo"></a>
                    <div class="mobile_toggle">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products <i class="fa fa-angle-down" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (MProductType productType in @ViewBag.ProductTypeList) {
                                        <li class="nav-item">@Html.ActionLink(productType.Descriptions["EN"].Name, "Products", "Products", new {productType = productType.Code}, new { @class = "nav-link" })</li>
                                    }
                                </ul>
                            <li class="nav-item"><a class="nav-link" href="#verify">Verify Product</a></li>
                            <li class="nav-item">@Html.ActionLink("About", "About", "About", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "ContactUs", null, new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

@RenderBody()

<section class="fact-counter text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-one wow slideInUp animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: slideInUp;">
                    <div class="count-outer count-box counted">
                        <span class="count-text" data-speed="1500" data-stop="235">1,000,000</span>
                    </div>
                    <div class="text">Order Shipped</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-one wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: slideInUp;">
                    <div class="count-outer count-box counted">
                        <span class="count-text" data-speed="1500" data-stop="687">150,000</span>
                    </div>
                    <div class="text">Satisfied Clients</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-one wow slideInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: slideInUp;">
                    <div class="count-outer count-box counted">
                        <span class="count-text" data-speed="1500" data-stop="582">1998</span>
                    </div>
                    <div class="text">Since</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-spacing" id="verify">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center text-center verificationContainer">
            <div class="col-md-8 col-12">
                <div class="row justify-content-center text-center containerCard">
                    <div class="col-md-12 col-12 p-5">
                        <form method="post" action="/verification" name="verifyproduct" id="verifyproduct">
                            <h1 class="primaryTitle" style="margin-bottom: 0">Verify your product</h1>
                            <h4 class="secondaryTitle">Please specify your serial and pin</h4>
                            <div class="row justify-content-center">
                                <div class="col-md-8 col-12" style="position:relative">
                                    <div class="row form-group formContainer" style="margin-bottom: 0">
                                        <input type="text" name="SerialNumber" class="col-md-12 form-control reqdField" placeholder="SN">
                                    </div>
                                    <div class="row form-group formContainer" style="margin-bottom: 0">
                                        <input type="text" name="Pin" class="col-md-12 form-control reqdField" placeholder="PIN">
                                    </div>
                                </div>
                                <div class="col-12" style="bottom: -30px;">
                                    <div class="row justify-content-center form-group" style="padding: 0">
                                        <button class="col-md-3 btn verificationSubmit" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="Modal"/>

<footer class="footer text-center">
    <div class="container">
        &copy; 2019 - Magnum (@VersionUtils.GetVersion())
    </div>
</footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
