@using Its.Onix.Erp.Models;
@{
	ViewData["Title"] = "Prodcuts Page";
}

<section class="shop-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-12">
				<div class="shop-title d-flex flex-wrap justify-content-between">
					<p>Showing @ViewBag.ProductList.Count Results</p>
				</div>
				<div class="shop-product-wrap row list">
					@foreach (MProduct product in @ViewBag.ProductList) {
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-list-item">
							<div class="product-thumb">
								<a class="view-modal" href="#" data-target="#quick_view_@product.Code">
									<img src="/images/product/trene200.jpg" alt="shop">
								</a>
							</div>
							<div class="product-content product-type-@product.ProductType">
								<h5 style="color: @product.NameColor; background-color: @product.NameBgColor;">@product.Descriptions["EN"].Name</h5>
								<span>@product.Descriptions["EN"].ShortDescription, @product.Descriptions["EN"].Extra1</span>
								<p>@product.Descriptions["EN"].LongDescription1</p>
								@if(@product.Price > 0) {
									<span class="price">$@product.Price</span>
								}
							</div>
						</div>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>
